:root {
  --colorPink: #ed5ab3;
  --primary: #001b79;
  --white: #fff;
}

@font-face {
  font-family: Wahran;
  src: url(./assets/fonts/alfont_com_Wahran-Light.otf);
}
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #b5b6b7;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: #b5b6b7;
  border-radius: 10px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: Wahran !important;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
.ar {
  direction: rtl;
}
